<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body><!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Model List</title>-->
<!--</head>-->
<!--<body>-->
<!--  <h1>Model List</h1>-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Phone</th>-->
<!--          <th>Images</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      {% for model in models %}-->
<!--        <tr>-->
<!--          <td>{{ model.name }}</td>-->
<!--          <td>{{ model.email }}</td>-->
<!--          <td>{{ model.phone }}</td>-->
<!--&lt;!&ndash;            <td>{{ model.image }}</td>&ndash;&gt;-->
<!--          <td><img src="{{ model.image }}"  height=450"></td>-->
<!--        </tr>-->
<!--      {% endfor %}-->
<!--    </tbody>-->
<!--  </table>-->
<!--</body>-->
<!--</html>-->

<!--</html>-->

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Model List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1>Model List</h1>
    <table class="table table-striped table-dark">
<!--      <thead>-->
<!--        <tr>-->
<!--          <div class="text-center">-->
<!--          <th>Name</th>-->
<!--          <th>Email</th>-->
<!--          <th>Phone</th>-->
<!--            <div class="text-center">-->
<!--          <th>Images</th>-->
<!--            </div>-->
<!--          </div>-->
<!--        </tr>-->
<!--      </thead>-->
      <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th colspan="2" class="text-center">Images</th>
          </tr>
      </thead>
      <tbody>
        {% for model in models %}
          <tr>
            <div class="text-center">
            <td>{{ model.name }}</td>
            <td>{{ model.email }}</td>
            <td>{{ model.phone }}</td>
              <div class="text-center">
            <td><img src="{{ model.image }}" alt="{{ model.name }}" height="250" class="rounded mx-auto d-block"></td>
              </div>
            </div>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
